<appSettings>
  <!--https://rule-ba-eflvweb.int.thomsonreuters.com/api/RuleLogicExecution-->
  <!--localhost:8543-->
  <add key="ConnectionString" value="Data Source=(local)\MSSQLSERVER2014; Initial Catalog=EFileDiagnostics; Integrated Security=true" />
  <add key="OutputFilename" value="DataMigrations\DataMigration.sql"/>
  <add key="ApplyDeleteDuringMerge" value="false"/>
  <add key="GetDiagnosticsUrl" value="http://localhost:8543/api/RuleLogicExecution/GetDiagnostics?id=" />
  <add key="FilesFolder" value="c:\sayra_files" />
  <add key="GoSystemsSecurityUrl" value="http://pd-lafiutil.int.thomsonreuters.com:8100" />
</appSettings>