<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\..\TRTA.Diagnostics.BusinessRules.WebService\Common.Resources\packages.config" />
  <repository path="..\..\TRTA.Diagnostics.BusinessRules.WebService\Domain\packages.config" />
  <repository path="..\TRTA.Diagnostics.RuleEngine.WindowsService\packages.config" />
</repositories>