<log4net>
  <appender name="LineFileAppender" type="log4net.Appender.RollingFileAppender">
    <file type="log4net.Util.PatternString"
          value="%property{appLogDir}\%property{instanceName}_plain.log"/>
    <rollingStyle value="Date"/>
    <datePattern value=".yyyy-MM-dd"/>
    <immediateFlush value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%d %-5p [%-2t] %X{transactionGUID} %c: %m%n"/>
    </layout>
  </appender>

  <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
    <param name="File" value="%property{appLogDir}\%property{instanceName}.txt"/>
    <param name="AppendToFile" value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="Header" value="[Header]\r\n" />
      <param name="Footer" value="[Footer]\r\n" />
      <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n" />
    </layout>
  </appender>

  <appender name="TRMRJMSAppender"
            type="Cobalt.Infrastructure.Logging.JMSQueueAppender">
    <queueConnectionPoolName value="TRMRQueueConnectionPool"/>
    <queueName value="TRMRQueue"/>
    <layout type="Cobalt.Infrastructure.Logging.LogRecordXMLLayout">
      <addRequestValues value="true"/>
      <addLocalValues value="true"/>
      <addNewLine value="false"/>
    </layout>
    <filter type="Cobalt.Infrastructure.Logging.LogRecordNameValueMatchFilter">
      <name value="eventType"/>
      <value value="VerticalComponent"/>
      <acceptOnMatch value="true"/>
    </filter>
    <filter type="Cobalt.Infrastructure.Logging.LogRecordNameValueMatchFilter">
      <name value="key"/>
      <value value="TRMRTransaction"/>
      <acceptOnMatch value="true"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>

  <appender name="ErrorJMSAppender"
            type="Cobalt.Infrastructure.Logging.JMSQueueAppender">
    <queueConnectionPoolName value="ERRORQueueConnectionPool"/>
    <queueName value="ERRORQueue"/>
    <layout type="Cobalt.Infrastructure.Logging.LogRecordXMLLayout">
      <addRequestValues value="true"/>
      <addLocalValues value="true"/>
      <addNewLine value="false"/>
    </layout>
    <filter type="Cobalt.Infrastructure.Logging.LogRecordNameValueMatchFilter">
      <name value="eventType"/>
      <value value="ErrorLog"/>
      <acceptOnMatch value="true"/>
    </filter>
    <filter type="log4net.Filter.DenyAllFilter"/>
  </appender>

  <appender name="Async"
            type="Cobalt.Infrastructure.Logging.AsyncAppender, CobaltLogging">
    <appender-ref ref="TRMRJMSAppender"/>
    <appender-ref ref="ErrorJMSAppender"/>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="Async" />
    <appender-ref ref="LineFileAppender" />
  </root>

  <logger name="NHibernate.SQL">
    <level value="ERROR"/>
  </logger>
  <logger name="NHibernate">
    <level value="ERROR" />
  </logger>
</log4net>
