<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <add key="cobaltnuget.int.thomsonreuters" value="http://cobaltnuget.int.thomsonreuters.com:85/api/v2/" />
    <add key="nuget.spg.int.thomson" value="http://nuget.spg.int.thomson.com/api/v2/" />
    <add key="CI.NuGetShare" value="\\cr-velocityfs-0.tlr.thomson.com\NuGetRepository" />
  </packageSources>
</configuration>