<appSettings>
	<add key="ConnectionString" value="Data Source=sql.ba-eflvweb.int.thomsonreuters.com; Initial Catalog=EFileDiagnostics; Integrated Security=true" />
  <add key="HttpEndPoint" value="http://localhost:9004" />
  <!--Service interval in milliseconds-->
  <add key="ServiceTimerInterval" value="1000"/>
  <add key="InstanceName" value=""/>
  <add key="MaxQueueSize" value="5"/>
  <!--Cache Timeout in minutes-->
  <add key="ResetTimerVal" value="10"/>
  <add key="EvaluationRequestXMLPath" value="\\cr-efileshr-v01.riaqa.loc\BRMS_Share\ba" />
  <add key="EvaluationRequestFileSize" value="471859200" /><!--this amount is in bytes-->
  <!--No of MaxFileSize files allowed-->
  <add key="MaxFileSizeCount" value="1" />

  <!-- Capacity thresholds -->
  <add key="CpuUsageThreshold" value="90" />
  <add key="MemoryUsageThreshold" value="85" />

  <!-- TRMR SETTINGS --><!--
  --><!-- MQ configuration --><!--
  <add key="applicationProperties" value=".\config\trmrSettings\app.properties" />
  --><!-- TRMR (log4net) log configuration --><!--
  <add key="log4netConfigurationFile" value=".\config\log4net\local.config" />
  --><!-- location of TRMR log file --><!--
  <add key="appLogDir" value="TRMR.logs" />

  --><!-- Tremor configuration --><!--
  <add key="instanceGroup" value="demotsi_a_sitewide"/>
  <add key="environment" value="demotsi"/>
  <add key="appNamespace" value="RuleEngine_WindowsService-TRMR"/>
  <add key="businessUnit" value="RuleEngine_WindowsService-BU-TRMR"/>
  <add key="appName" value="RuleEngine_WindowsService-Application"/>
  <add key="instanceName" value="RuleEngine_WindowsService-TRMR_1.0_9001"/>
  <add key="location" value="A"/>-->
</appSettings>